@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: #F6F6F6;
    box-sizing: border-box;
}

.cabecalho{
    padding: 2% 0% 0% 15%;

}

.cabecalho-menu{
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:#22D4FD;
    text-decoration: none;

}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px   ;
}

.apresentacao-conteudo-titulo{
    font-size: 36px;
    font-family: 'krona one', sans-serif;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao-conteudo-texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.apresentacao-subtitulo{
    font-family: 'krona one', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao-botao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border: 2px solid #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.apresentacao-botao:hover {
    background-color: #272727;
}

.rodapé{
    color: #000000;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}